*.py[cod]
__pycache__/

# Packages
/MANIFEST.in
/*.egg*/
/shtab/_dist_ver.py
/build/
/dist/
/docs/build/
/docs/contributing.md

# Unit test / coverage reports
/.coverage*
/coverage.xml
/.pytest_cache/
