name: Test
on:
- push
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - run: pip install -U -r requirements-dev.txt twine
    - run: python setup.py check -mrs
    - run: pre-commit run --all-files
  test:
    name: Test py${{ matrix.python }}
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [2.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - run: pip install -U -r requirements-dev.txt
    - run: python -m tests
    - uses: codecov/codecov-action@v1
  deploy:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    name: PyPI Deploy
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: casperdcl/deploy-pypi@v1
      with:
        password: ${{ secrets.pypi_token }}
        build: true
    - id: collect_assets
      name: Collect assets
      run: |
        echo "::set-output name=asset_path::$(ls dist/*.whl)"
        echo "::set-output name=asset_name::$(basename dist/*.whl)"
        git fetch --tags
        changes="$(git log --format='format:%d %B %N' $(git tag --sort=v:refname | tail -n2 | xargs | awk '{print $1".."$2}'))"
        changes="${changes//'%'/'%25'}"
        changes="${changes//$'\n'/'%0A'}"
        changes="${changes//$'\r'/'%0D'}"
        echo "::set-output name=change_log::${changes}"
    - id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: shtab ${{ github.ref }} alpha
        body: ${{ steps.collect_assets.outputs.change_log }}
        draft: true
    - uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ steps.collect_assets.outputs.asset_path }}
        asset_name: ${{ steps.collect_assets.outputs.asset_name }}
        asset_content_type: application/zip
